node_modules
npm-debug.log
.idea/
.DS_Store
notes/
config/config.json
config/serverConfig.js
config/SSLCertificate/
data/states.sql
temp/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
